ipython==8.32.0
matplotlib==3.10.3
networkx==3.4.2
numpy==2.2.6
pandas==2.2.3
playwright==1.52.0
plotly==6.0.0
pytest==8.3.5
pytket_qiskit==0.63.0
qiskit==2.0.0
qiskit_aer==0.17.0
qiskit_algorithms==0.3.1
qiskit_ibm_runtime==0.34.0
qiskit_nature==0.7.2
scipy==1.15.3
scripts==3.0
seaborn==0.13.2
sympy==1.13.3
